.input {
  width: 100%;
  margin: auto;
  padding: 28px;
  outline: none;
  display: block;
  color: #FFFFFF;
  font-size: 1.75rem;
  transition: .2s;
  border: 2px solid transparent;
  background-color: #FFFFFF1A;
}

.input:focus {
  border: 2px solid #FFFFFF;
}

.input::placeholder {
  color: #FFFFFF36;
}